<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBOndOKr4Mk-pEeN9h1qeo4HDhGEsJytGo</string>
	<key>GCM_SENDER_ID</key>
	<string>1091908852133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dna.antrian</string>
	<key>PROJECT_ID</key>
	<string>serverless-queue</string>
	<key>STORAGE_BUCKET</key>
	<string>serverless-queue.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091908852133:ios:9aba8d38090adf0e12f04c</string>
</dict>
</plist>